@font-face {
    font-family: Vazir;
    src: url(../fonts/vazir/Vazir-Light.eot);
    src: url(../fonts/vazir/Vazir-Light.ttf);
    src: url(../fonts/vazir/Vazir-Light.woff);
    src: url(../fonts/vazir/Vazir-Light.woff2);
}

@font-face {
    font-family: Sahel;
    src: url(../fonts/sahel/Sahel-Light.ttf);
}
